<p id="notice"><%= notice %></p>

<p>
  <strong>Answer:</strong>
  <%= @submission.answer %>
</p>

<p>
  <strong>Submit date:</strong>
  <%= @submission.submit_date %>
</p>

<p>
  <strong>User:</strong>
  <%= @submission.user_id %>
</p>

<%= link_to 'Edit', edit_submission_path(@submission) %> |
<%= link_to 'Back', submissions_path %>
